/* Estilos de cabeçalho */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=VT323&display=swap');

.header_container {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #0c162c;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header_logo img {
    width: 80px;
}

.header_logo-text h1, h2 {
    color: #fff;
    margin: 0;
}

.header_logo-text h2 {
    font-size: 1em;
    font-weight: 600;
}

.header_menu ul {
    display: flex;
    padding-top: 1.5em;
    gap: 1.5em;
    list-style: none;
}

.header_menu a {
    text-decoration: none;
    color: #fff;
    transition: .1s;
}

.header_menu a:hover {
    border-bottom: 2px solid #fff;
    font-weight: 600;
}